<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>New Order</title>
</head>
<body>
    <div class="container col-8">
        <h1 class="text-center p-2 bg-info">Log a New Order</h1>
        <form action="/new_order" method="post">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: red;">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label for="customer_name" class="form-label">Name:</label>
            <input type="text" name="customer_name" id="customer_name" class="form-control">
            <label for="cookie_type" class="form-label">Cookie Type:</label>
            <input type="text" name="cookie_type" id="cookie_type" class="form-control">
            <label for="number_of_box" class="form-label">Number of Boxes:</label>
            <input type="number" name="number_of_box" id="number_of_box" class="form-control">
            <div class="d-flex mt-2 justify-content-between">
                <input type="submit" value="Log New Order" class="btn btn-warning">
                <a href="/cookies" class="btn btn-info">Back to Orders</a>
            </div>
        </form>
    </div>
</body>
</html>